@use 'config' as *;

@mixin button($bg-color: $main-bg-color, $gradient: false, $start-color: $gradient-color-1, $end-color: $gradient-color-2) {
    @if $gradient == true {
        background: linear-gradient(to bottom right, $start-color, $end-color);
    } @else {
        background-color: $bg-color;
    }
    color: $text-color;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25rem;

    &:hover {
        @if $gradient == true {
            background: linear-gradient(to bottom right, adjust-color($start-color, $lightness: -10%), adjust-color($end-color, $lightness: -10%));
        } @else {
            background-color: adjust-color($bg-color, $lightness: -10%);
        }

        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
    }

    &:active {
        @if $gradient == true {
            background: linear-gradient(to bottom right, adjust-color($start-color, $lightness: -20%), adjust-color($end-color, $lightness: -20%));
        } @else {
            background-color: adjust-color($bg-color, $lightness: -20%);
        }
    }
}

.boutton {
    @include button($main-bg-color);
}

.boutton-nav {
    @include button($main-bg-color);

    @media screen and (max-width: 550px) {
        span {
            display: none;
        }
    }
}

.color-button {
    @include button($gradient: true);
}

.secondary-form-button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: $text-color;
    padding: 10px 20px;
    text-decoration: underline;
}

.modify-qte-button {
    @include button($gradient: true);
    height: 35px;
    padding: 0 2px;
    font-size: 0.875rem; // Adjust font size if necessary
}