/***********************************************
                    CONFIG
************************************************/

 $default-font-path: '../fonts/Ubuntu-Medium.ttf';
 $default-font-family: 'Ubuntu';

/***********************************************
            HEADER & FOOTER
***********************************************/


$footer-bg: #333;
$footer-color: #fff;
$footer-padding: 0.25rem;

/***********************************************
                    NAV
************************************************/

$nav-background-color: #333;
$nav-link-color: #fff;
$nav-link-hover-color: #ddd;