/***********************************************
                    CONFIG
************************************************/

 $default-font-path: '../fonts/Ubuntu-Medium.ttf';
 $default-font-family: 'Ubuntu';

 $main-bg-color: #090101;
 $secondary-bg-color: #170d0d;
 $section-bg-color: #aaaaaa;
 $highlight-bg-color: #ffffff;
 $text-color: #ffffff;

 $gradient-color-1: red;
 $gradient-color-2: orange;

/***********************************************
                    GRID
************************************************/

$default-gap: 1rem;
$column-nb: 12;