@use 'config' as *;

@mixin form-container($padding, $margin-bottom, $bg-color, $border-radius) {
    box-sizing: border-box;

    padding: $padding;
    margin-bottom: $margin-bottom;
    background-color: $bg-color;
    border-radius: $border-radius;
}

@mixin input-style($padding, $border, $border-radius, $font-size, $bg-color : white) {
    padding: $padding;
    border: $border;
    border-radius: $border-radius;
    font-size: $font-size;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s;
    background-color: $bg-color;

    &:focus {
        border-color: none;
        outline: none;
    }
}

@mixin label-style($position, $top, $left, $bg-color, $padding, $z-index, $border-radius) {
    position: $position;
    top: $top;
    left: $left;
    background: $bg-color;
    padding: $padding;
    z-index: $z-index;
    border-radius: $border-radius;
    color: black;
}

.search-form {
    @include form-container(2rem, 1rem, $secondary-bg-color, 0.5em);
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 2%;
        width: 96%;
        height: 4px;
        background: linear-gradient(to right, $gradient-color-1, $gradient-color-2, $gradient-color-1);
    }

    form {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        position: relative;
    }

    .input-container {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    label {
        @include label-style(absolute, -0.75rem, 0, white, 0 0.5rem, 1, 0.25em);
    }

    input {
        @include input-style(0.75rem, 1px solid #ccc, 4px, 1rem);
    }

    select {
        @include input-style(0.75rem, 1px solid #ccc, 4px, 1rem);
    }

    @media (max-width: 768px) {
        form {
            flex-direction: column;
            gap: 2rem;
        }
        label {
            font-size: 0.875rem;
        }
        input {
            padding: 0.5rem;
            font-size: 0.875rem;
        }
    }
}

.connexion-card {
    @include form-container(2rem, 1rem, $secondary-bg-color, 0.5em);
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h1 {
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .connexion-form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .input-container {
            display: flex;
            flex-direction: column;
            position: relative;
        }

        label {
            @include label-style(absolute, -0.75rem, 0, white, 0 0.5rem, 1, 0.25em);
        }

        input {
            @include input-style(0.75rem, 1px solid #ccc, 4px, 1rem);
        }
    }
}

#add-to-cart-form{
    @include form-container(2rem, 1rem, $highlight-bg-color, 0.5em);
    color: black;

    form{
        display: flex;
        flex-direction: column;
        gap : 2rem;
    }

    .input-container {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    label {
        @include label-style(absolute, -0.75rem, 0, #f1f1f1, 0 0.5rem, 1, 0.25em);
    }

    input {
        @include input-style(0.75rem, 0px solid #ccc, 4px, 1rem, #f1f1f1);
    }

    select {
        @include input-style(0.75rem, 0px solid #ccc, 4px, 1rem, #f1f1f1);
    }
}

#add-spectacle-form, #add-soiree-form{
    @include form-container(2rem, 1rem, $highlight-bg-color, 0.5em);
    color: black;

    form{
        display: flex;
        flex-direction: column;
        gap : 2rem;
    }

    .input-container {
        position: relative;
        display: flex;
        flex-direction: column;

        & > label {
            @include label-style(absolute, -0.75rem, 0, #f1f1f1, 0 0.5rem, 1, 0.25em);
        }

        #show-artists {
            padding: 0.5rem;
            max-height: 200px;
            overflow-y: scroll;

            .artist-item {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        
            input[type="checkbox"] {
                margin-right: 0.5rem;
            }
        
            label {
                font-size: 1rem;
                color: #333;
            }
        }
    }

    textarea {
        @include input-style(0.75rem, 1px solid #ccc, 4px, 1rem);
    }

    input {
        @include input-style(0.75rem, 0px solid #ccc, 4px, 1rem, #f1f1f1);
    }

    select {
        @include input-style(0.75rem, 0px solid #ccc, 4px, 1rem, #f1f1f1);
    }
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;

    input {
        padding-right: 2.5rem; /* Adjust this value based on the button width */
    }

    .toggle-password-button {
        position: absolute;
        right: 0.5rem;
        top: 50%;
        padding  : 0;
        color: #333;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
    }
}