@use 'config' as *;

.grid {
    display: grid;
    gap: $default-gap;
    color: $text-color;
    place-items: center;

    &-auto {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@for $i from 1 through $column-nb {
    .grid-col-#{$i} {
        grid-template-columns: repeat(#{$i}, 1fr);
    }
}

@for $i from 1 through 5 {
    .gap-#{$i} {
        gap: $i * $default-gap;
    }
}

@for $i from 1 through $column-nb {
    .col-span-#{$i} {
        grid-column: span #{$i};
    }
}

@for $i from 1 through $column-nb {
    .col-end-#{$i} {
        grid-column-end: #{$i};
    }
}

@media (max-width: 899px) {
    @for $i from 1 through $column-nb {
        .grid-col-#{$i}-s {
            grid-template-columns: repeat(#{$i}, 1fr);
        }
    }
}

@media (min-width: 900px) and (max-width: 1199px) {
    @for $i from 1 through $column-nb {
        .grid-col-#{$i}-m {
            grid-template-columns: repeat(#{$i}, 1fr);
        }
    }
}

@media (min-width: 1200px){
    @for $i from 1 through $column-nb {
        .grid-col-#{$i}-l {
            grid-template-columns: repeat(#{$i}, 1fr);
        }
    }
}