@use 'config' as *;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#main-content {
  flex: 1;
  padding: 2rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $secondary-bg-color;
  color: $text-color;
  padding: 1rem;
}

.home-section{
  color : $text-color;
  background-color: $secondary-bg-color;
  padding : 2rem;
  border-radius: 10px;
}