@use 'config' as *;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

#nav-title{
  cursor: pointer;
}

#main-content {
  flex: 1;
  padding: 2rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $secondary-bg-color;
  color: $text-color;
  padding: 1rem;
}

.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text-color;
  background-color: $secondary-bg-color;
  border-radius: 10px;
  padding-bottom: 2rem;

  h1 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  p {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  #home-title {
    background-image: url('../public/fond.png');
    background-size: cover;
    background-position: center;
    height: 30rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  #home-description {
    height: 15rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.5rem;
    }

    #home-title {
      height: 20rem;
    }

    #home-description {
      height: 10rem;
    }
    
  }
}